body {
  background-color: #1e1e1e;
}

.swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

.swagger-ui .microlight,
.swagger-ui img,
.swagger-ui .opblock-body pre.microlight,
.swagger-ui svg:not(:root) {
  filter: invert(100%) hue-rotate(180deg);
}

.swagger-ui .topbar {
  background-color: #2b2b2b;
}
